<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title%>Table Football Ladder <%= htmlWebpackPlugin.options.appVersion%></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <% for (var link of htmlWebpackPlugin.options.links) { %>
      <%= link %>
    <% } %>
    <% for (var key of Object.keys(htmlWebpackPlugin.files.chunks)) { %>
      <% if (htmlWebpackPlugin.files.chunks[key].css !== undefined && htmlWebpackPlugin.files.chunks[key].css.length > 0) { %>
        <link href="<%= htmlWebpackPlugin.options.base%><%= htmlWebpackPlugin.files.chunks[key].css%>" rel="stylesheet" type="text/css">
      <% } %>
    <% } %>
  </head>
  <body>
    <div id="entry">Javascript disabled</div>
    <% for (var key of Object.keys(htmlWebpackPlugin.files.chunks)) { %>
      <script type="text/javascript" src="<%= htmlWebpackPlugin.options.base%><%= htmlWebpackPlugin.files.chunks[key].entry%>"></script>
    <% } %>
  </body>
</html>
